# OpenAI API Configuration
GOOGLE_API_KEY=api-key-here
GROK-API-KEY=api-key-here

# Cohere API Configuration
COHERE_API_KEY=api-key-here

# Qdrant Configuration
QDRANT_URL=api-key-here
QDRANT_API_KEY=api-key-here

# Optional: Path to docs folder
DOCS_PATH=./docs
